@charset "utf-8";
/* CSS Document */


*{
	font-family: 'Playfair Display', serif;
	box-sizing:border-box;
	color:#565656;
	}
body{
	margin:0 auto;
	border:0;
	width:100%;
	overflow-x:hidden;
}
a {
	text-decoration:none;}
.display-none{
	display:none;}
.clear{
	clear:both;}
.hover-a:hover{
	cursor:pointer;
	transition:.15s ease-in-out;
}
.hover1b{
	display:none !important;}
.hover1:hover .hover1a{
	display:none !important;
	transition:.15s ease-in-out;}
.hover1:hover .hover1b{
	display:inline-block !important;
	transition:.15s ease-in-out;}
.visible-img:hover{
	cursor:pointer;}
.white-text{
	color:white;}
.blue-text{
	color:#2b2b88;
		}
.blue-bg{
	background-color:#2b2b88;
}
.white-bg{
	background-color:white;}
.light-grey {
    color: #888888;}
.width100{
	width:100%;}
.overflow{
	overflow:hidden;}
.float-left{
	float:left;}
.float-right{
	float:right;}		
.text-center{
	text-align:center;}	
.div-center{
	margin-left:auto;
	margin-right:auto;}
.margin-auto{
	margin-left:auto;
	margin-right:auto;}
.clean:focus{	
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:selected{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:active{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean::selection {	
	outline: none !important;
	outline-offset: 0  !important;
}
.clean2{
	-webkit-box-shadow:none !important;
	box-shadow:none !important;		
}
.clean2:selected{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;	
}
.clean2:focus{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;	
}
.clean2:active{
	outline: none !important;
	outline-offset: 0  !important;	
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.clean2::selection {	
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.hover-effect:hover{
	cursor:pointer;
	transition:.15s ease-in-out;}
.pointer:hover{
	cursor:pointer;}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #ffffff00 inset !important;
	font-size: 18px !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px  #ffffff00 inset !important;
  transition: background-color 5000s ease-in-out 0s;
  font-size: 18px !important;
}
.text-overflow{
    text-overflow: ellipsis;
    white-space: nowrap;
	overflow:hidden;
}
.height100{
	height:100%;}
.logo-img {
    height: 30px;
}
.header1 {
    background-color: white;
    padding: 10px 2.5%;
	padding-bottom: 5px;
	z-index: 99999;
}	

.transparent-button{
	background-color:transparent;
	border:0;}
.opacity-hover:hover{
	cursor:pointer;
	opacity:0.85;
	transition:.15s ease-in-out;}
.transparent-button{
	background:none;
	background-color:transparent;
	border:0;}
.hover1b{
	display:none;}
.hover1:hover .hover1a{
	display:none;}
.hover1:hover .hover1b{
	display:inline-block;}
/*Dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  border-radius: 5px;
  right: 0;
  position: absolute;
  background-color: white;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(255, 149, 161, 0.24);
  padding: 8px 16px;
  z-index: 1;
  color:black;
}

.dropdown:hover .dropdown-content {
  display: block;
	margin-top: -2px !important;
}
.dropdown-a{
	color:black;
	margin-left:5px;}
.dropdown-img{
	margin-right:10px;
	width: 10px;}
.pointer:hover{
	cursor:pointer;}
/*End of Dropdown*/
.dropdown-img2{
	vertical-align: bottom;
	margin-right:10px;
	margin-left:0;
}
.dropdown-p:hover{
	color:#7ecbc8;
	transition:.15s ease-in-out;
	cursor:pointer;}
.dropdown-a:hover{
	color:white;
	transition:.15s ease-in-out;
	cursor:pointer;}
.dl-menuwrapper{
	display:none;}
		
/* The Modal (background) */
.modal-css {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-css {
  background-color: white;
  margin: auto;
  padding: 20px;
  margin-top:10vh;	
  width: 80%;
  border-radius: 10px;
}

/* The Close Button */
.close-css {
  color: #eaa2ae;
  float: right;
  font-size: 42px;
  font-weight: bold;
  margin-top: -10px;
}

.close-css:hover,
.close-css:focus {
  color: #dc788e;
  text-decoration: none;
  cursor: pointer;
}	
.same-padding{
	padding-left:7.5%;
	padding-right:7.5%;}
.video-div {
    height: 600px;
    overflow: hidden;
}
.home-video {
    margin-top: -220px;
	width: 100%;
}
.menu-distance{
	margin-top:49px;}
.pink-hover-text{
	color:#dc788e;	
}
.pink-hover-text:hover{
	color:#ff95a1;
	transition:.15s ease-in-out;
	cursor:pointer;	
}
.pink-text{
	color: #eaa2ae;
}
.menu-margin-right {
    margin-right: 20px;
}
.menu-item {
    margin-top: 5px;
}
.dark-pink-text{
	color:#dc788e;}
.dark-pink-text b{
	color:#dc788e;}
.light-pink-text{
	color:#fbaeae;}
.three-div-width{
	width:31%;
	float:left;}
.mid-three-div-width-margin{
	margin-left:3.33%;
	margin-right:3.33%;}
.quote-div {
    border: 1px solid #eaa2ae;
	padding: 20px 30px;
    padding-right: 5%;
}
.quote-big-div{
	padding-top:50px;
	padding-bottom:50px;
	overflow:hidden;}
.quote-p {
    margin-top: 0;
    min-height: 80px;
}
.quote-author {
    margin-bottom: 0;
}
.footer-div{
	width:100%;
	overflow:hidden;
	padding:5px 0;
	background: rgba(220,161,174,1);
background: -moz-linear-gradient(left, rgba(220,161,174,1) 0%, rgba(249,213,213,1) 50%, rgba(220,161,174,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(220,161,174,1)), color-stop(50%, rgba(249,213,213,1)), color-stop(100%, rgba(220,161,174,1)));
background: -webkit-linear-gradient(left, rgba(220,161,174,1) 0%, rgba(249,213,213,1) 50%, rgba(220,161,174,1) 100%);
background: -o-linear-gradient(left, rgba(220,161,174,1) 0%, rgba(249,213,213,1) 50%, rgba(220,161,174,1) 100%);
background: -ms-linear-gradient(left, rgba(220,161,174,1) 0%, rgba(249,213,213,1) 50%, rgba(220,161,174,1) 100%);
background: linear-gradient(to right, rgba(220,161,174,1) 0%, rgba(249,213,213,1) 50%, rgba(220,161,174,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc788e', endColorstr='#dc788e', GradientType=1 );}
.footer-p{
	margin-top:0;
	margin-bottom:0;
	color:white;
	text-align:center;}
.pink-gradient-bg{	
background: rgba(220,161,174,1);
background: -moz-linear-gradient(left, rgba(220,161,174,1) 0%, rgba(249,213,213,1) 50%, rgba(220,161,174,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(220,161,174,1)), color-stop(50%, rgba(249,213,213,1)), color-stop(100%, rgba(220,161,174,1)));
background: -webkit-linear-gradient(left, rgba(220,161,174,1) 0%, rgba(249,213,213,1) 50%, rgba(220,161,174,1) 100%);
background: -o-linear-gradient(left, rgba(220,161,174,1) 0%, rgba(249,213,213,1) 50%, rgba(220,161,174,1) 100%);
background: -ms-linear-gradient(left, rgba(220,161,174,1) 0%, rgba(249,213,213,1) 50%, rgba(220,161,174,1) 100%);
background: linear-gradient(to right, rgba(220,161,174,1) 0%, rgba(249,213,213,1) 50%, rgba(220,161,174,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc788e', endColorstr='#dc788e', GradientType=1 );}
.ow-padding{
	padding:1px !important;}
.feather-png {
    width: 60px;
}
.contact-icon {
    width: 70px;
}
.contact-title {
    margin-bottom: 60px;
	margin-left: 60px;
}
.smaller-h1 {
    font-size: 12px;}
.product-img-div{
	width:50%;
	padding-left:10%;}
.product-desc-div{
	width:50%;
}
.mild-pink-text{
	color:#eaa2ae;}
.h3-sub {
    margin-top: 0;
    font-size: 16px;
}
.product-title{
	margin-bottom: 0px;
}
.product-desc-div {
    text-align: left;
    padding-left: 10%;
	padding-top: 60px;
}
.extra-margin-top {
    margin-top: 100px;
}
.add-minus:hover{
	cursor:pointer;
	transition:.15s ease-in-out;
	}
.hover-effect{
	cursor:pointer;
	transition:.15s ease-in-out;
	}
.quantity-p{
	float:left;}
.numbers-row-css{
	float:left;}
.add-minus {
    width: 20px;
}
.quantity-input {
    margin-top: -11px;
    float: left;
    width: 70px;
    font-size: 27px;
    border: 0;
    padding: 0;
    text-align: center;
}
.button2 {
    float: left;
}
.numbers-row-css {
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}
.white-bg{
	background-color:white;}
.border-btn{
	background: rgba(220,161,174,1);
	background: -moz-linear-gradient(left, rgba(220,161,174,1) 0%, rgba(249,213,213,1) 50%, rgba(220,161,174,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(220,161,174,1)), color-stop(50%, rgba(249,213,213,1)), color-stop(100%, rgba(220,161,174,1)));
	background: -webkit-linear-gradient(left, rgba(220,161,174,1) 0%, rgba(249,213,213,1) 50%, rgba(220,161,174,1) 100%);
	background: -o-linear-gradient(left, rgba(220,161,174,1) 0%, rgba(249,213,213,1) 50%, rgba(220,161,174,1) 100%);
	background: -ms-linear-gradient(left, rgba(220,161,174,1) 0%, rgba(249,213,213,1) 50%, rgba(220,161,174,1) 100%);
	background: linear-gradient(to right, rgba(220,161,174,1) 0%, rgba(249,213,213,1) 50%, rgba(220,161,174,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc788e', endColorstr='#dc788e', GradientType=1 );
	padding:1px;
}
.border-btn .white-bg{
	padding:10px;
	color:#dc788e;}
.border-btn:hover{
	cursor:pointer;
	transition:.15s ease-in-out;}
.border-btn:hover .white-bg{
	background-color:transparent;
	color:white;	
}
.add-to-cart-btn {
    width: 200px;
    text-align: center;
}
.tick-png {
    width: 10px;
}
.mild-pink-text-td td{
	color:#eaa2ae;}
.transparent-table td{
	vertical-align:top;}
.title-p {
    font-weight: 900;
    margin-bottom: 0;
}
.quantity-p{
    font-weight: 900;	
}
.function-div1{
	margin-bottom:30px;
	margin-top:20px;}
.pink-a{
	color:#ff95a1;	
}
.pink-a:hover{
	color:#dc788e;
	cursor:pointer;
	transition:.15s ease-in-out;}
.smaller-feather-png{
	float:right;
    width: 30px;
}
.ingrediet-a {
	float:left;
	font-weight:900;
    font-size: 16px;
    display: block;
    margin-top: 25px;
    margin-bottom: 30px;
}
.modal-h1{
	margin-top: -45px;}
.left-ingredient, .mid-ingredient, .right-ingredient {
    float: left;
    width: 31%;
}
.mid-ingredient{
	margin-left:3.5%;
	margin-right:3.5%;}
.mild-pink-text2{
	color:#ecbbc3;}
.tempo-three-clear{
	clear:both;}
.modal-h1{
	margin-top:-20px;}
.min-height-with-menu-distance75{
	min-height:calc(100vh - 86px);}
.menu-distance75 {
    margin-top: 75px;
}
.dual-input {
    width: 48%;
    float: left;
}
.second-dual-input {
    margin-left: 4%;
}
.input-top-text {
    margin-bottom: 5px;
    font-size: 14px;
    color: #dc788e;
}
.de-input {
    padding: 2px 5px;
    width: 100%;
    font-size: 18px;
    border: 1px solid #dc788e;
	border-radius: 3px;
	background-color: white;
}
.top-bottom-distance{
    margin-top: 50px;
    margin-bottom: 50px;	
}
.button-width {
    width: 300px;
}
.dark-pink-button {
    background-color:#eaa2ae;
    color: white;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}
.dark-pink-button:hover{
	background-color:#dc788e;
	cursor:pointer;
	transition:.15s ease-in-out;
}
.flower-img {
    float: right;
    width: 306px;
}
.login-modal-content {
    width: 40%;
    margin-top: calc(50vh - 280px);
}
.logged-in-dl{
	display:none;}
.dl-menuwrapper button:after{
	background: #dc788e;
	box-shadow: 0 10px 0 #dc788e, 0 20px 0 #dc788e;	
}
.dl-menuwrapper .dl-menu.dl-menuopen{
    background-color: #ffffff;
	min-height: 100vh;
	-webkit-box-shadow: -4px 15px 15px 5px rgba(255,26,91,0.13);
    box-shadow: -4px 15px 15px 5px rgba(255,26,91,0.13);	
}
.dl-menuwrapper li a {
	color: #dc788e;
}
.left-padding-div{
	width:50%;
	float:left;
	padding-left:7.5%;}
.tiara-png {
    width: 20px;
    margin-right: 10px;
}
.min-height-with-menu-distance {
    min-height: calc(100vh - 86px);
}
.overflow-scroll-div {
    width: 100%;
    overflow: auto;
}
.table-css {
    width: 100%;
}
.table-css th {
    text-align: left;
    color: white;
    background-color: #dc788e;
    padding: 8px 5px;
	vertical-align:top;	
}
.table-css {
    width: 100%;
    border-collapse: collapse;
}
.table-css td {
    padding: 8px 5px;
    color: #dc788e;
    border-bottom: 1px solid #dc788e;
	vertical-align:top;
}
.product-img {
    max-width: 100px;
    max-height: 200px;
}
.left-padding-div ul {
    list-style: none;
    padding-left: 0;
	font-size: 21px;
}
.min-height-with-flower {
    min-height: calc(100vh - 490px);
}
.female-png {
    float: left;
    margin-top: -90px;
    margin-left: calc(50% - 250px);
}
.pink-button {
    background-color: #f0c1c9;
    color: white;
    font-size: 18px;
    padding: 7px;
    border-radius: 22px;
}
.pink-button:hover{
	background-color: #ce5f81;
	transition:.15s ease-in-out;
	cursor:pointer;
}
.mid-img {
    width: 70%;
}
.product-desc-div2{
	padding-top: 190px;
}
.quote-bg{
	background-image:url(../img/pink-background.jpg);
	border:0;}
.quote-div2 {
    padding-top: 50px;
    padding-bottom: 50px;
}
.quote-img {
    width: 70%;
}
.quote-p2 {
    color: #da0231;
    height: 64px;
    margin-top: 30px;
}
.quote-author2 {
    color: #bb0029;
	margin-bottom:0;
}
.quote-border {
    border-bottom: 2px solid #da0231;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}
.product-big-div {
    margin-top: 50px;
}
.top-left-flower-div {
    position: absolute;
    width: 15%;
}
.top-left-flower {
    width: 100%;
}
.core-div {
    padding-top: 100px;
}
.left-core-div {
    float: left;
    width: 50%;
    padding-left: 20%;
}
.right-core-div {
    float: left;
    width: 50%;
    padding-left: 20%;
}
.desc-h3 {
    font-weight: 400;
}
.core-p{
	color:#dc788e;
	font-size: 18px;}
.rose-png {
    width: 20px;
    margin-right: 15px;
}
.bottom-right-flower-div {
    position: absolute;
    right: 0;
    width: 15%;
    margin-top: -190px;
}
.bottom-right-flower {
    width: 100%;
}
.contact-big-div {
    margin-top: 150px;
}
.company-p {
    font-size: 21px !important;
}
.company-div {
    margin-top: 180px;
}
.left-service-div {
    width: 50%;
    float: left;
    padding-right: 10%;
    padding-left: 10%;
}
.dark-pink-text-table td {
    color: #dc788e;
    font-size: 18px;
    padding: 10px 0;
}
.service-div {
    margin-top: 100px;
}
.min-height-with-menu-distance2 {
    min-height: calc(100vh - 80px);
}
.left-product {
    width: 50%;
    float: left;
    padding: 0 10%;
}
.product-page-div {
    margin-top: 100px;
}
.product-page-product {
    width: 100%;
}
.right-product-content {
    float: left;
    width: 50%;
}
.top-left-flower-div2, .bottom-right-flower-div2 {
    width: 7.5% !important;
}
.after-flower-info {
    margin-top: 50px;
}
.row-div {
    border-top: 1px solid #ce5f81;
    padding: 20px 50px;
}
.row-img {
    float: left;
    width: 30px;
    margin-right: 20px;
}
.row-h3 {
    margin: 0;
    font-size: 24px;
}
.option-heading:before{
	 content: "\25bc";
	 float: right; 
     color: #ce5f81;	 
}
.option-heading.is-active:before{
	content: "\25b2";
	float: right;
    color: #ce5f81;	
}
.row-table td{
	color:#eaa2ae;
	font-size: 18px;}
.td-img {
    width: 20px;
    margin-right: 15px;
}
.row-table {
    margin-top: 30px;
    padding-left: 80px;
    clear: both;
}
.td-p {
    font-weight: 700;
	font-size: 18px;
	padding-left: 80px;
	margin-top: 50px;
}
.inside-td-p {
    padding-left: 150px;
}
.font-700{
	font-weight:700;}
.inside-td-p2 {
    padding-left: 160px;
    margin-bottom: 30px;
}
.row-table2 {
    padding-left: 110px !important;
}
.row-table2 td {
    padding-bottom: 20px;
}
.inside-td-p3 {
    padding-left: 120px;}
.last-row {
    border-bottom: 1px solid #ce5f81;
    margin-bottom: 70px;
}
.long-td-p-table td {
    color: #ce5f81;
	font-weight: 700;
}
.long-td-p-table {
    padding-left: 80px !important;
}
.before-long {
    margin-top: 0 !important;
}
.view-btn {
    border: 0;
    font-size: 14px;
    padding: 2px 20px;
    font-weight: 700;
}
.table-input {
    font-size: 14px !important;
}
.quantity-field{
    line-height: normal;
    font-size: 16px;
    width: 55px;
    text-align: center;
    padding: 0;
    padding-bottom: 5px;
	border: 1px solid #dc788e;
	float: left;
}
.add-minus-button{
	float: left;	
}
.add-minus-button:hover{
	cursor:pointer;}
.minus-icon{
	width:25px;}
.back-btn {
    width: 24px;
    margin-right: 15px;
}
.back-text{
	font-size:24px;
	margin-left: -39px;}
.no-input{
	border:0 !important;
	padding-left:0;
	padding-right:0;}
.input1{
	width:auto !important;
	float:left !important;}
.info-title {
    margin-bottom: 0;
    margin-top: 30px;
}
.back-text{
	font-size: 18px;
	margin-left:-26px;	
}
.checkout-back-btn{
	width: 16px;
    margin-right: 10px;	
}
.smaller-text {
    font-size: 14px;
}
.seven-div {
    float: left;
    width: 14.28%;
    text-align: center;

}
.circle-div {
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
}
.achieved .circle-div{
	border-bottom: 1px solid #f0c1c9;
}
.seven-div p{
	padding:0 20px;}
.circle-div2 {
    width: 20px;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 50%;
    margin-left: calc(50% - 10px);
    margin-top: -10px;
}
.achieved .circle-div2{
	background-color: #f0c1c9;}
.achieved p{
	color:#dc788e;}
.milestone-img {
    width: 30px;
    margin-bottom: 10px;
}
::-moz-selection { /* Code for Firefox */
  color: white;
  background: #eaa2ae;
}

::selection {
  color: white;
  background: #eaa2ae;
}
.dashboard-box img {
    width: 30%;
	margin-bottom: 15px;}
.dashboard-box{
	text-align:center;
	box-shadow: 0px 0px 16px 5px rgba(255, 149, 161, 0.24);
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 35px;
}
.dashboard-big-div{
	margin-top:20px;
	padding-top:30px;
	padding-bottom:30px;}
.box-p b {
    color: #dc788e;
}
.box-p {
    color: #ff6476;
	margin-top: 0;
    margin-bottom: 0;
}
.tempo-three-clear2{
	clear:both;}
.visible-icon {
    width: 25px;
    float: left;
	margin-top: 5px;
}
.password-input {
    width: calc(100% - 30px);
    float: left;
    border: 0;
	
}	
.fake-input-bg {
    border: 1px solid #dc788e;
    overflow: hidden;
	border-radius: 3px;
	background-color: white;
}
.four-div{
	width:22%;
	float:left;}
.second-four-div{
	margin-left:4%;
	margin-right:4%;}
.third-four-div{
	margin-right:4%;}
.center-div {
    float: none;
    margin-left: auto;
    margin-right: auto;
	width:40%;
}
.search-png {
    width: 20px;
}

.is-hidden { display: none; }

.edit-icon1 {
    height: 15px;
}
.fake-line-input {
    border: 0;
    width: calc(100% - 30px);
    font-size: 18px;
}
.search-input-div {
    overflow: hidden;
    border-bottom: 1px solid #e7a1b1;
}
.details-p, .details-p b {
    color: #ec869b;
	font-size: 18px;
}
.reject-btn {
    margin-right: 20px;
    background-color: #ff6e6e;
	transition:.15s ease-in-out;
}
.reject-btn:hover{
	background-color: #ea4a4a;
}
.approve-btn {
    background-color: #00c17a;
	transition:.15s ease-in-out;
}
.approve-btn:hover{
	background-color: #00965f;
}
.de-textarea {
    min-height: 150px;
}
.fake-input-p {
    color: #e391a3;
}
.eight-div {
    float: left;
    width: 12.5%;
    text-align: center;
}
.circle-line01 {
    width: 100%;
    border-bottom: 1px solid #cccccc;
	margin-top: 15px;}
.achieved1 .circle-line01 {
    border-bottom: 1px solid #ff95a1;	
}
.circle01 {
    width: 30px;
    height: 30px;
    background-color: #cccccc;
    color: white;
    border-radius: 50%;
    margin: 0 auto;
	margin-top: -15px;
}
.achieved1 .circle01 {
	background-color: #ff95a1;
}
.standard-div {
    height: 30px;
}
.eight-div-p {
    font-size: 14px;
    padding: 0 7px;
}
.achieved1 .eight-div-p{
	color:#ff95a1;}
.achieved1 .eight-div-p b{
	color:#ce5f81;	
}
.achieved1 .standard-div{
	color:#ce5f81;	
}
.four-div-img {
    width: 30%;

}
.download-icon {
    height: 18px;
}
.member-menu .menu-item {
    font-size: 14px;
}
.member-menu .menu-margin-right {
    margin-right: 10px;
}
.section-p {
    margin-bottom: 0;
    margin-top: 40px;
    font-weight: 700;
}
/* Overwrite */
.dl-menuwrapper li a {
    display: block;
    position: relative;
    padding: 8px 20px;
    font-size: 15px;
    line-height: 17px;}
.border0{
	border:0;}
.top-bottom-spacing{
	margin-top: 40px;
    margin-bottom: 20px;	
}
.min-height-auto{
	min-height:auto !important;}
.margin-top40{
	margin-top:40px !important;}
.margin-top30{
	margin-top:30px !important;}
.margin-bottom30{
	margin-bottom:30px !important;}
.font-400{
	font-weight:400;}
.big-header-color{
	color:#ce5f81;
}
.product-desc-div {
    text-align: center;}
.ow-mbtm10 {
    margin-bottom: 10px !important;
}
.tiara-ul2{
	padding-left:25px !important;}
.ow-no-margin-top{
	margin-top:0 !important;}
@media all and (max-width: 1770px){
.home-video {
	margin-top: -190px;
}	
	
}
@media all and (max-width: 1550px){
.home-video {
    margin-top: -170px;
}	
	
	
}
@media all and (max-width: 1500px){
.product-desc-div{
	padding-top: 0;
}
.product-desc-div2 {
    padding-top: 110px;
}

}
@media all and (max-width: 1495px){
.quote-p {
    min-height: 100px;
}
}
@media all and (max-width: 1450px){
.bottom-right-flower-div2 {
    margin-top: -80px;
}	
	
}
@media all and (max-width: 1400px){
.video-div {
    height: 450px;}	
.second-p2 {
    min-height: 42px !important;
}
}
@media all and (max-width: 1380px){
.home-video {
    margin-top: -150px;
}		
}
@media all and (max-width: 1325px){
.quote-p {
    min-height: 120px;
}

}
@media all and (max-width: 1300px){
.standard-div {
    height: 45px;
    font-size: 14px;
}

}
@media all and (max-width: 1230px){
.home-video {
    margin-top: -130px;
}		
}
@media all and (max-width: 1200px){
.product-desc-div2 {
    padding-top: 100px;
}
.desc-h3 {
    font-size: 14px;
}
.quote-div2 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.quote-p2 {
    height: 87px;
    font-size: 14px;
}
.contact-big-div {
    margin-top: 50px;
}
.company-div {
    margin-top: 80px;
}
.left-service-div {
    padding-left: 0;
}
}
@media all and (max-width: 1150px){
.female-png{
    margin-left: 7.5%;	
}
}
@media all and (max-width: 1100px){
.first-p1{
	min-height:42px !important;	
}

}
@media all and (max-width: 1050px){
.home-video {
    margin-top: 0;
}
.menu-distance {
    margin-top: 35px;
}	
.min-height-with-menu-distance2 {
    min-height: calc(100vh - 66px);
}
.top-left-flower-div2 {
    margin-top: 30px;
}	
}
@media all and (max-width: 1036px){
.video-div {
    height: 430px;
}
}
@media all and (max-width: 1005px){
.quote-div {
    padding-right: 0;	
    padding: 10px 20px;

}
}
@media all and (max-width: 1000px){
.contact-title {
    font-size: 24px;
	margin-left:45px;
}
.feather-png {
    width: 45px;
}	
.product-title {
    font-size: 21px;
}
.h3-sub {
    font-size: 14px;
}
.login-modal-content {
    width: 60%;}
.big-core-div {
    margin-top: 50px;
}
.core-div {
    padding-top: 50px;
}
.left-product {
    padding-left: 0;
}
.logged-in-dl {
    display: block;
}
.logged-in-menu .menu-item {
    display: none;
}
.center-div {
    width: 60%;
}
}
@media all and (max-width: 995px){
.video-div {
    height: 400px;
}

}
@media all and (max-width: 950px){
.video-div {
    height: 350px;
}
}
@media all and (max-width: 930px){
.second-p2 {
    min-height: 63px !important;
}
}
@media all and (max-width: 900px){
.female-png {
    width: calc(85% - 300px);
	margin-top:-20px;
}
.learn-btn {
    width: 100%;
    font-size: 16px;
}
.mid-img {
    width: 100%;
}
.product-desc-div {
    padding-top: 20px;
}
.product-desc-div2 {
    padding-top: 120px;
}
.contact-big-div {
    margin-top: 0;
}
.company-p {
    font-size: 18px !important;
}
.seven-div p {
    font-size: 14px;
}
.container-div1{
	padding-left:3.5%;
	padding-right:3.5%;}
}
@media all and (max-width: 880px){
.quote-p {
    min-height: 150px;
}	
	
}
@media all and (max-width: 860px){
.video-div {
    height: 300px;
}
}
@media all and (max-width: 800px){
.product-title {
    font-size: 18px;
}
.video-div {
    height: auto;
}
.quote-p2 {
    font-size: 12px;
	margin-top: 15px;
}
.quote-author2 {
    font-size: 14px;
}
.quote-bg .three-div-width {
    width: 30%;}
.quote-bg .mid-three-div-width-margin {
    margin-left: 4.83%;
    margin-right: 4.83%;
}
.dark-pink-text-table td {
    padding: 3px 0;
}
.service-div {
    margin-top: 80px;
}
.row-div {
    padding: 20px 20px;
}
.row-h3 {
    font-size: 18px;
}
.row-img {
    width: 20px;
	margin-right: 15px;}
.row-table {
    margin-top: 20px;
    padding-left: 60px;}
.row-table td {
    font-size: 14px;
}
.td-img {
    width: 10px;
    margin-right: 10px;
}
.td-p {
    font-size: 14px;
    margin-top: 30px;
	padding-left: 60px;	}
.inside-td-p{
	font-size: 14px;
	padding-left: 100px;
}
.inside-td-p3 {
    padding-left: 90px;
}
.inside-td-p2 {
    padding-left: 130px;}
.row-table2 {
    padding-left: 90px !important;
}
.long-td-p-table{
	padding-left:60px !important;}
}
@media all and (max-width: 770px){
.product-desc-div {
    padding-top: 0;
}
.product-desc-div2 {
    padding-top: 100px;
}
}
@media all and (max-width: 760px){
.bottom-right-flower-div2 {
    margin-top: -30px !important;
}
}
@media all and (max-width: 750px){
.left-core-div {
    float: left;
    width: 50%;
    padding-left: 10%;
}
.right-core-div {
    float: left;
    width: 50%;
    padding-left: 10%;
}

}
@media all and (max-width: 730px){
.quote-p {
    min-height: 120px;
    font-size: 14px;
}
.quote-author {
    font-size: 14px;
}
.contact-icon {
    width: 50px;
}
.contact-title {
    margin-bottom: 30px;}
.contact-p {
    font-size: 14px;
}
}
@media all and (max-width: 710px){
.first-box-p {
    min-height: 42px;
}


}
@media all and (max-width: 700px){
.quote-p {
    min-height: 150px;}
.logged-in-menu .menu-item{
	display:none;}
.logged-in-dl{
	display:block;}
.product-img-div {
    width: 70%;
    padding-left: 0;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.product-desc-div {
    padding-top: 0;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-left: 0;
}
.product-desc-div2 {
    padding-top: 0;
}
.bottom-right-flower-div {
    margin-top: -100px;
}
.details-p, .details-p b {

    font-size: 16px;
}
}
@media all and (max-width: 670px){
.first-p1 b, .second-p2 {
    font-size: 14px;
}

}
@media all and (max-width: 650px){
.center-div {
    width: 100%;
}
.standard-div {
    font-size: 12px;
}
.circle01 {
    width: 20px;
    height: 20px;
    margin-top: -10px;
}
.eight-div-p {
    font-size: 12px;
    padding: 0 2px;
}
}
@media all and (max-width: 630px){
.female-png {
    width: calc(85% - 200px);
    position: absolute;
}
}


@media all and (max-width: 660px){
.box-p {
    min-height: 42px;
}
}

@media all and (max-width: 600px){
.three-div-width {
    width: 48%;
	margin-bottom: 30px;}	
.mid-three-div-width-margin {
    margin-left: 4%;
    margin-right: 0;
}
.quote-p {
    min-height: 110px;
}	
.quote-big-div {
    margin-top: 30px;
    margin-bottom: 30px;
}
.contact-three-div {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 30px !important;
	margin-bottom: 0 !Important;
}
.contact-big-div{
	margin-bottom:0;}
.login-modal-content {
    width: 85%;
}
.left-padding-div ul {
    font-size: 16px;
}
.contact-big-div {
    margin-top: 0 !important;
}
.dark-pink-text-table td {
    padding: 0;
    font-size: 14px;
}
.company-p {
    font-size: 16px !important;
}
.left-product {
    float: none;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
.product-page-div {
    margin-top: 70px;
}
.right-product-content {
    float: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.product-quantity {
    width: 192px;
    margin-left: auto;
    margin-right: auto;
}
.right-product-content .add-to-cart-btn{
	width:100%;}
.seven-div p {
    font-size: 10px;
}
.tempo-three-clear2{
	clear:none;}
.box-p {
    min-height: 0;
}
.mid-three-div-width-margin.dashboard-box{
	margin-left:0;
	margin-right:0;}
.dashboard-box.second-third-box{
	margin-left:4%;	
}
.four-div {
    width: 31%;
    float: left;
    margin-left: 0;
    margin-right: 0;
}
.four-mid{
	margin-left:2%;
	margin-right:2%;}
.second-p2 {
    min-height: 42px !important;
}
.third-p3{
	min-height: 63px !important;
}
.two-four-div .four-div {
    width: 48%;
	margin-bottom: 20px;
}
.two-four-div .second-four-div {
    margin-left: 4%;
	margin-right:0;}
}
@media all and (max-width: 550px){
.menu-item {
    font-size: 14px;
}	
.menu-margin-right {
    margin-right: 15px;
}
.button-width{
	width:100%;}
.core-p {
    font-size: 14px;
}
.rose-png {
    width: 15px;
    margin-right: 10px;
}
.before-header-div .menu-item{
	display:none;}
.before-dl{
	display:block;}	
}
@media all and (max-width: 520px){
.quote-border {
    width: 25px;}
}
@media all and (max-width: 510px){
.quote-p {
    min-height: 130px;
}	
}
@media all and (max-width: 500px){
.product-img-div, .product-desc-div {
    width: 100%;
    padding-left: 0;
	padding-right:0;
    float: none;
	text-align:center;
}
.extra-margin-top2{
	margin-top:0;}
.quote-p2 {
    height: 110px;}
.left-product {
    width: 60%;
    margin-bottom: 20px;}
.right-product-content {
    width: 100%;}
.bottom-right-flower-div2 {
    width: 6.5% !important;
}
.row-h3 {
    font-size: 16px;
}
.row-div {
    padding: 15px 10px;
}
.row-img {
    width: 18px;
    margin-right: 10px;
}
.row-table {
    margin-top: 10px;
    padding-left: 25px;
}
.td-p {
    margin-top: 20px;
    padding-left: 25px;
}
.inside-td-p {
    padding-left: 48px;
}
.inside-td-p3 {
    padding-left: 48px;
}
.inside-td-p2 {
    padding-left: 70px;
}
.row-table2 {
    padding-left: 40px !important;
}
.long-td-p-table {
    padding-left: 20px !important;
}
.container-div1 {
    padding-left: 0;
    padding-right: 0;
}
.seven-div p {
    font-size: 8px;
}
.circle-div2 {
    width: 10px;
    height: 10px;
    margin-left: calc(50% - 5px);
    margin-top: -5px;
}
.milestone-img {
    width: 20px;
    margin-bottom: 5px;
}
}
@media all and (max-width: 480px){
.dual-input {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
}
.top-bottom-distance {
    margin-top: 30px;}
.female-png {
    width: calc(85% - 120px);}
}
@media all and (max-width: 460px){
.box-p b {
    font-size: 14px;
}
}
@media all and (max-width: 450px){
.quote-p {
    min-height: 150px;
}
.left-core-div, .right-core-div {
    padding-left: 5%;
}
.four-div {
    width: 48%;
    float: left;
    margin-left: 0;
    margin-right: 0;
}
.second-four-div, .forth-div{
	margin-left:4%;}
.standard-div {
    font-size: 11px;
}
.eight-div-p {
    font-size: 10px;}
}
@media all and (max-width: 420px){
.second-first-p{
	min-height:40px;}
}
@media all and (max-width: 415px){
.quote-bg .three-div-width{
	margin-bottom:0;}
.big-quote {
    margin-top: 0;
	margin-bottom:0;
}
.quote-p2 {
    height: 130px;
    margin-top: 5px;
}
.quote-author2 {
    font-size: 12px;
}
}
@media all and (max-width: 400px){
.feather-png {
    width: 35px;
}
.contact-title {
    font-size: 21px;
    margin-left: 35px;
}
.flower-img {
    width: 240px;
}
.min-height-with-flower {
    min-height: calc(100vh - 403px);
}
.left-service-div {
    width: 50%;
    float: none;
    margin: 0 auto;
    padding-right: 0;}
.dark-pink-text-table {
    margin-left: auto;
    margin-right: auto;
}
.standard-div {
    font-size: 10px;
    padding: 0 2px;

}
}
@media all and (max-width: 395px){
.quote-p2 {
    height: 130px;
	font-size: 11px;}
.quote-author2 {
    font-size: 11px;
}
}
@media all and (max-width: 390px){
.three-div-width {
    width: 100%;
	margin-left:0;
	margin-right:0;}	
.quote-p {
    min-height: 0;
    margin-bottom: 25px;
	padding-right: 30px;
}	
.dashboard-big-div .three-div-width {
    width: 48%;}
.third-first-p{
    min-height: 40px;
}
}
@media all and (max-width: 380px){
.bottom-right-flower-div {
    margin-top: -70px;
}
.core-div {
    padding-top: 0px;
}
}
@media all and (max-width: 370px){
.left-core-div, .right-core-div {
    padding-left: 0;
}
}
@media all and (max-width: 360px){
.box-p {
    font-size: 14px;
}	
	
}
@media all and (max-width: 350px){
.left-core-div {
	width:60%;}
.right-core-div{
	width:40%;}
.row-div {
    padding: 15px 0;
}
.td-img {
    width: 7px;
    margin-right: 3px;}
}
@media all and (max-width: 335px){
.seven-div p {
    font-size: 7px;
}
.standard-div {
    font-size: 9px;}	
.eight-div-p {
    font-size: 9px;
}
}
@media all and (max-width: 330px){
.quote-p2 {
    height: 160px;}			
}
@media all and (max-width: 320px){
.box-p {
    min-height: 38px;
}	
	
}
@media all and (max-height: 490px){
.dl-menuwrapper li a {

    padding: 7px 20px;
    font-size: 14px;
    line-height: 16px;
}	
	
	
}
@media all and (max-height: 450px){
.dl-menuwrapper li a {
    padding: 6px 20px;
    font-size: 14px;
    line-height: 14px;
}
	
}